<!doctype html>


<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>NISB Orientation 2017</title>
    
    <meta name="description" content="NIE IEEE Orientation 2017" />
    <meta name="author" content="Milan Menezes" />
    <meta name="keywords" content="NISB, Orientation, NIE, IEEE, Computer Society">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />

    <link href="css/impress-demo.css" rel="stylesheet" />
    <link href="css/nisb.css" rel="stylesheet" />
    
    <link rel="shortcut icon" href="images/nisblogo.png" />
    <link rel="apple-touch-icon" href="images/nisblogo.png" />
    
</head>


<body class="impress-not-supported" onload="myFunction()">


<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>


<div id="impress">

	<!-- Elon musk starts here -->

    <div class="step" data-x="-4000" data-y="-1500">
        
        <img src="images/1.png" class="img-center" width="80%">
    </div>

    <div class="step" data-x="-2500" data-y="-1500" data-scale="1">

         <img id="elon-2" src="images/2.jpg">       
    </div>

    <div class="step" data-x="-1000" data-y="-1500">
      
        <img id="elonlogo" src="images/elonlogo.png"> 
    </div>

    <div class="step" data-x="500" data-y="-1500">
        <img id="bigbang" src="images/bigbang.jpg">
    </div>

    <div class="step" data-x="2000" data-y="-1500">
        <img id="ironman" src="images/ironman.jpg">
    </div>

    <!-- Elon mush ends her -->

    <!-- IEEE Starts here -->

    <div class="step" data-x="0" data-y="0" data-scale="2">
        <img id="ieee" src="images/ieee.jpg">
    </div>

    <div class="step" data-x="3000" data-y="0" data-scale="2">
        <h1 id="num1"> 1963 </h1>
    </div>

    <div class="step" data-x="3000" data-y="0" data-z="-30000" data-scale="1" >
        <h1 id="txt1"> 4,20,000 Members</h1>
    </div>

    <div class="step" data-x="3000" data-y="0" data-z="-30000" data-scale="1" data-rotate-x="-90" >
        <h1 id="txt2"> 160 Countries</h1>
    </div>

    <!-- Hexagon starts here -->

    <div class="step" data-x="4000" data-y="-4000"  data-rotate-y="0" >
        <center><img class="cylinder" src="images/presidents/bell.jpg"></center>
    </div>

    <div class="step" data-x="4306" data-y="-4000" data-z="-177" data-rotate-y="60" >
        <center><img class="cylinder" src="images/presidents/forest.jpg"></center>
    </div>

    <div class="step" data-x="4306" data-y="-4000" data-z="-530" data-rotate-y="120" >
        <center><img class="cylinder" src="images/presidents/weber.jpg"></center>
    </div>

    <div class="step" data-x="4000" data-y="-4000" data-z="-707" data-rotate-y="180" >
        <center><img class="cylinder" src="images/presidents/william.jpg"></center>
    </div> 

    <div class="step" data-x="3694" data-y="-4000" data-z="-530" data-rotate-y="240" >
        <center><img class="cylinder" src="images/presidents/kalam.jpg"></center>
    </div> 

    <div class="step" data-x="3694" data-y="-4000" data-z="-177" data-rotate-y="300" >
        <center><img class="cylinder" src="images/presidents/nrn.jpg"></center>
    </div> 

    <!-- Hexagon ends here -->

    <!-- Nisb starts here -->

    <div class="step" data-x="4500" data-y="-1500">
        <img id="nisblogo" class="img-center" src="images/nisblogo.png">
    </div>

    <div class="step" data-x="6000" data-y="-1500">
        <h1 id="num2"> 1999 </h1>
    </div>


    <div class="step" data-x="6000" data-y="-1500" data-rotate-x="-90">
        <h1 id="txt3"> 430+ Members </h1>
    </div>

    <div class="step" data-x="4500" data-y="0" >
        <img class="ieeebenefits" src="images/spectrum.png">
    </div>

    <div class="step" data-x="6000" data-y="0" >
        <img class="ieeebenefits" id="myieee" src="images/myieee.png">
    </div>

    <div class="step" data-x="7500" data-y="0" >
        <img class="ieeebenefits" src="images/ieee-tv.png">
    </div>

    <div class="step" data-x="9000" data-y="0" >
        <img class="ieeebenefits" src="images/collab.png">
    </div>

    <div class="step" data-x="10500" data-y="0" >
        <img class="ieeebenefits smaller" src="images/potentials.jpg">
    </div>

    <div class="step" data-x="12000" data-y="0" >
        <img class="ieeebenefits" src="images/xplore.jpg">
    </div>

    <div class="step" data-x="13500" data-y="0" >
        <img class="ieeebenefits smaller" src="images/resume.jpg">
    </div>

    <div class="step" data-x="15000" data-y="0" >
        <img class="ieeebenefits smaller" src="images/jobsite.png">
    </div>

   

	<div class="step" data-x="1500" data-y="1000">
        <h1 id="heading">What do you get from NISB? </h1>
    </div>

    <div class="step" data-x="3000" data-y="1000" >
        <img class="ieeebenefits" src="images/xplore.jpg">
    </div>

    <div class="step" data-x="4500" data-y="1000" >
        <img class="ieeebenefits" src="images/xplore.jpg">
    </div>

    <div class="step" data-x="6000" data-y="1000" >
        <img class="ieeebenefits" src="images/xplore.jpg">
    </div>

    <div class="step" data-x="7500" data-y="1000" >
        <img class="ieeebenefits" src="images/xplore.jpg">
    </div>

    <!-- NISB ends here -->
    <!-- IEEE ends here -->

    <!-- CS starts here -->

    <div class="step" data-x="-5500" data-y="-1000" data-rotate="90" data-scale="2">
        <img class="cslogo img-center" src="images/cs/cs_logo.jpg">
    </div>

    <div  class="step txt-center" data-x="-5500" data-y="1500" data-rotate="90">
        <h1 id="cs-benefits">Benefits of Computer Society</h1>
    </div>

    <div class="step " data-x="-5500" data-y="3000" data-rotate="90">
        <img id="cs-pub" src="images/cs/pub.jpg">
    </div>

    <div class="step " data-x="-5500" data-y="4500" data-rotate="90">
        <h1 class="txt-center cs-txt-lrg">3000+ Online Courses</h1>
    </div>

     <div class="step " data-x="-5500" data-y="4500" data-rotate="90" data-rotate-y="90">
        <h1 class="txt-center cs-txt-lrg">28,000+ EBooks</h1>
    </div>

    <div class="step" data-x="-5500" data-y="6000" data-rotate="90" data-rotate-y="90">
    <h1 id="alias">username@computer.org</h1>
    </div>


    <div class="step scholarships" data-x="-5500" data-y="6000" data-rotate="90">
        <h1 id="scholarships-head" class="txt-center cs-txt-lrg">Scholarships</h1>
        <ul>
        	<li>Richard E.Merwin Scholarship</li>
        	<li>Lance Stafford Larson Paper Contest</li>
        	<li>Upsilon Pi Epsilon Honor Society</li>
        </ul>
    </div>

    <div  class="step txt-center" data-x="-4000" data-y="1500" data-rotate="90">
        <h1 id="cs-benefits">Benefits of </br>NISB-CS</h1>
    </div>

    <div  class="step txt-center" data-x="-4000" data-y="3000" data-rotate="90">
        <h1 id="cs-benefits">Weekly Meetups</h1>
    </div>

    <div  class="step txt-center" data-x="-4000" data-y="4500" data-rotate="90">
        <h1 id="cs-benefits">University Relations</h1>
    </div>


    <div  class="step txt-center" data-x="-2500" data-y="1500" data-rotate="90" data-scale="2">
        <img id="project" class="img-center" src="images/cs/project.jpg">
    </div>

     <div  class="step txt-center" data-x="-2500" data-y="5000" data-rotate="90" data-z="-1000" data-scale="3">
        <h1 id="project-txt" class="cs-txt-lrg txt-center">Project Drive</h1>
    </div>


    <!-- CS ends here -->

    <div class="step" data-x="-500" data-y="-500" data-scale="15" data-rotate="90"></div>

    <!-- WIE Starts Here -->
    <div class="step" data-x="0" data-y="-3000" >
        <img id="wie-p" class="ieeebenefits" src="images/wie-p.png">
    </div>

    <div class="step" data-x="1500" data-y="-3000" >
        <img class="ieeebenefits" src="images/wielogo.jpg">
    </div>

    <div class="step" data-x="3000" data-y="-3000" >
        <h1  id="wie-benifits" class="txt-center">WHAT WIE PROVIDES YOU</h1>
        <ul>
            <li>Digital subscription to the award winning wie magazine.</li>
            <li>Monthly wie electronic newsletter.</li>
            <li>WIE scholarships, travel grants  and awards.</li>
            <li>Conducts many international conferences. </li>
        </ul>
    </div>

    <div class="step" data-x="4500" data-y="-3000" >
        <img class="ieeebenefits" src="images/wie1.jpg">
    </div>

    <div class="step" data-x="6000" data-y="-3000" >
        <img class="ieeebenefits" id="wie-img-2" src="images/wie_pic.jpg">
    </div>

    <!-- WIE Ends Here -->

    <!-- Achievements Starts here -->

    <div class="step" data-x="2600" data-y="3200" data-z="-4000" data-scale="2">
        <h1 class="cs-txt-lrg txt-center">Achievements of NISB</h1>
    </div>

    <div class="step" data-x="500" data-y="4500"  data-scale="1">
        <h1 class="cs-txt-lrg txt-center">Outstanding Student Branch in 2013</h1>
    </div>

    <div class="step" data-x="2000" data-y="4500"  data-scale="1">
        <h1 class="cs-txt-lrg txt-center">Best Branch Counselor in 2014</h1>
    </div>

    <div class="step" data-x="3500" data-y="4500"  data-scale="1">
        <h1 class="cs-txt-lrg txt-center">Best (Large) Student Branch in 2015</h1>
    </div>

    <div class="step" data-x="5000" data-y="4500"  data-scale="1">
        <h1 class="cs-txt-lrg txt-center">50+ events in previous year</h1>
    </div>


    <!-- Achievements ends here -->

    <!-- Price justification starts here -->




    <!-- Price justification starts here -->
    <div class="step" data-x="4800" data-y="1000" data-scale="15"></div>

</div>

<script type="text/javascript" src='js/impress.js'></script>
<!-- <script src="js/impress.js"></script> -->
<script>impress().init();</script>

</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script>
  var socket = io.connect('http://localhost:5000');

        function myFunction(){
            console.log("onload");
            socket.emit('eve1', 'data');
        }
  socket.on('news', function (data) {
    console.log(data);
  });
  socket.on('move',function(direction){
    var keyboardEvent = document.createEvent("KeyboardEvent");
    var initMethod = typeof keyboardEvent.initKeyboardEvent !== 'undefined' ? "initKeyboardEvent" : "initKeyEvent";


keyboardEvent[initMethod](
                   "keyup", // event type : keydown, keyup, keypress
                    true, // bubbles
                    true, // cancelable
                    window, // viewArg: should be window
                    false, // ctrlKeyArg
                    false, // altKeyArg
                    false, // shiftKeyArg
                    false, // metaKeyArg
                    39, // keyCodeArg : unsigned long the virtual key code, else 0
                    0 // charCodeArgs : unsigned long the Unicode character associated with the depressed key, else 0
);

var keyboardEvent1 = document.createEvent("KeyboardEvent");
    var initMethod1 = typeof keyboardEvent1.initKeyboardEvent !== 'undefined' ? "initKeyboardEvent" : "initKeyEvent";


keyboardEvent1[initMethod1](
                   "keyup", // event type : keydown, keyup, keypress
                    true, // bubbles
                    true, // cancelable
                    window, // viewArg: should be window
                    false, // ctrlKeyArg
                    false, // altKeyArg
                    false, // shiftKeyArg
                    false, // metaKeyArg
                    37, // keyCodeArg : unsigned long the virtual key code, else 0
                    0 // charCodeArgs : unsigned long the Unicode character associated with the depressed key, else 0
);



    if (direction=='next'){
        console.log(direction);
       document.dispatchEvent(keyboardEvent);
    }
    if (direction=='prev'){
        console.log(direction);
       document.dispatchEvent(keyboardEvent1);
    }


  })
</script>